# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
mysql-test.js
config

# Build output
dist
build

# Optional Mac files
.DS_Store

# Optional Windows files
Thumbs.db

# Uploaded files
uploads/


.idea